
@{
    ViewData["Title"] = "Usuarios";
    Layout = "Usuarios";
}

<p style="text-align:center"><strong>Registros de usuarios</strong></p>
<hr />

<form class="border-secondary">
    <div class="form-group">
        <label>Ingrese un su usario:</label>
        <input type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label>Ingrese una contraseña:</label>
        <input type="text" class="form-control" />
    </div>

    <input type="submit" class="btn btn-primary" value="Registrar" />

</form>