<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MIGRACION</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div align="left"><img src="~/images/logo.png" width="110" height="110" /></div>
        <div align="right">
        <img src="~/images/rd.png" width="50" height="50" />
            <input class="border col-sm-2"  type="text" value="Buscar" />
            <input type="submit" class="btn btn-danger" value="Buscar" />
            </div>
        <div align="right">
            <a href="https://migracion.gob.do/contacto/">Contacto </a>
            <a href="https://migracion.gob.do/mapa-de-sitio/">Ubicacion</a>
        </div>
        

        <nav style="background-color:darkblue" class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">

            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><font color="white">Dirección General de Migración</font></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> <font color="white"><strong>Login</strong></font></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Persona" asp-action="Index"><font color="white"><strong>Registros</strong></font></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Solicitud" asp-action="Index"><font color="white"><strong>Solicitudes</strong></font></a>
                        </li>




                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <footer style="background-color:black" class="border-top footer text-muted">
        <div class="container">
            <div align="center"><img src="~/images/rd.png" width="50" height="50" /></div>
            <div>
                <font color="white">
                    Contacto:
                </font>

                <a href="https://migracion.gob.do/contacto/"> <font color="white">Llamanos </font></a>

                <br />
                <font color="white">
                    Ubicacion:
                </font>

                <a href="https://migracion.gob.do/mapa-de-sitio/"><font color="white">Mapa de ubicacion</font></a>


            </div>
            &copy; 2021 - DIRECCION GENERAL DE MIGRACION

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
